{{/*
  Without and with caption:
  featured: string
    expected: filename.ext only, no path
  featured: map
    img: string, required
      expected: filename.ext only, no path
      extension: any (e.g.: .jpg, .png, .gif, .webp)
    caption: string, required

  Example front matter usage (yaml):
  ---
  featured: filename.ext
  ---
  featured:
    img: filename.ext
    caption: "Caption text (will also be used for alt)."
  ---
*/}}
{{- if .Params.featured }}
  {{- $img := "" }}
  {{- $caption := "" }}
  {{- $alt := .Title }}
  {{- if reflect.IsMap .Params.featured }}
    {{- $img = .Params.featured.img }}
    {{- $caption = .Params.featured.caption }}
  {{- else }}
    {{- $img = .Params.featured }}
  {{- end }}
  {{- $img := partial "image-srcset.html" . }}
  <figure>
    <img
    class="mb-2 leading-none shadow-xl"
    src="{{ $img.imgP66Src }}"
    srcset="{{ $img.imgSrcSet }}"
    alt="{{ $caption | default $alt }}">
    {{- with $caption }}
    <figcaption class="text-sm text-right text-raven-500">{{ . }}</figcaption>
    {{- end }}
  </figure>
{{- end -}}
