{{- $pageImg := partial "image-srcset.html" . }}
{{- if .Params.featured }}
{{ printf `<link rel="preload" as="image" href="%s" imagesrcset="%s">` $pageImg.imgP66Src $pageImg.imgSrcSet | safeHTML }}
{{ end }}

{{- $title := "" -}}
{{- if .IsHome }}
  {{- $title = (printf "%s : %s" (T "tagline") .Site.Title) -}}
{{- else if .Title }}
  {{- $title = (printf "%s : %s" .Title .Site.Title) -}}
{{- end }}
<title>{{ $title }}</title>

{{- $description := (trim .Summary "\n") }}
{{- if .IsHome }}
  {{- $description = T "description" }}
{{- else if .Description }}
  {{- $description = (trim .Description "\n") }}
{{- end }}
{{- if .Params.subtitle }}
  {{- $description = printf "%s %s" .Params.subtitle $description }}
{{- end }}

{{- $author := index .Site.Data.authors (.Params.author | default "default") }}

<meta property="og:title" content="{{ if .IsHome }}{{ T "tagline" }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<link rel="image_src" href="{{ $pageImg.imgP100Src | absURL }}">
<meta property="og:image" content="{{ $pageImg.imgP100Src | absURL }}">
<meta property="og:image:width" content="{{ .Site.Params.img.p100W }}">
<meta property="og:image:height" content="{{ .Site.Params.img.p100H }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:locale" content="{{ replace .Site.LanguageCode "-" "_" | default "en_US" }}">
<meta property="og:description" content="{{ $description | plainify }}">
<meta name="description" content="{{ $description | plainify }}">
<meta property="og:updated_time" content="{{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }}">
<meta property="fb:app_id" content="{{ .Site.Params.facebookApp }}">
<meta name="author" content="{{ $author.name }}">
<meta property="article:author" content="{{ $author.uri | absURL }}">
<meta property="article:published_time" content="{{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }}">
<meta property="article:modified_time" content="{{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }}">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {{- if .IsHome }}
  "@type": "WebSite",
  {{- else }}
  "@type": "Article",
  {{- end }}
  "headline": {{ if .IsHome }}{{ T "tagline" }}{{ else }}{{ .Title }}{{ end }},
  {{- with .Params.subtitle }}
  "alternativeHeadline": {{ . | plainify }},
  {{- end }}
  "url": {{ .Permalink }},
  "image": {{ $pageImg.imgP100Src | absURL }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink }}
  },
  "description": {{ $description | plainify }},
  "author": {
    "@type": "Person",
    "name": {{ $author.name }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ printf "%s%s" .Site.Params.img.p100Dir .Site.Params.brand.icon1To1 | absURL }}
    }
  },
  "datePublished": {{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }},
  "dateModified": {{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }},
  "articleBody": {{ trim .Content "\n" }}
}
</script>
