{{- $imgFeature := partial "cdn-src" (dict "Site" $.Site "Page" . "src" .Params.feature "preset" "feature") -}}

{{- $imgMeta := partial "cdn-src" (dict "Site" $.Site "Page" . "src" .Params.feature) -}}

{{- $imgBrand := printf "%s%s" .Site.Params.cdn.brand .Site.Params.brand.icon1To1 -}}
{{- $imgBrand = partial "cdn-src" (dict "Site" $.Site "Page" . "src" $imgBrand) -}}

{{- if .Params.feature }}
<link rel="preload" as="image" href="{{ $imgFeature }}">
{{ end }}

{{- $title := "" -}}
{{- if .IsHome }}
  {{- $title = (printf "%s : %s" (T "tagline") .Site.Title) -}}
{{- else if .Title }}
  {{- $title = (printf "%s : %s" .Title .Site.Title) -}}
{{- end }}
<title>{{ $title }}</title>

{{- $description := (trim .Summary "\n") }}
{{- if .IsHome }}
  {{- $description = T "description" }}
{{- else if .Description }}
  {{- $description = (trim .Description "\n") }}
{{- end }}
{{- if .Params.subtitle }}
  {{- $description = printf "%s %s" .Params.subtitle $description }}
{{- end }}

{{- $author := index .Site.Data.author (.Params.author | default "default") }}

<meta property="og:title" content="{{ if .IsHome }}{{ T "tagline" }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:url" content="{{ .Permalink }}">
<link rel="image_src" href="{{ $imgMeta | absURL }}">
<meta property="og:image" content="{{ $imgMeta | absURL }}">
<meta property="og:image:width" content="{{ .Site.Params.img.width }}">
<meta property="og:image:height" content="{{ .Site.Params.img.height }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:locale" content="{{ replace .Site.LanguageCode "-" "_" | default "en_US" }}">
<meta property="og:description" content="{{ $description | plainify }}">
<meta name="description" content="{{ $description | plainify }}">
<meta property="og:updated_time" content="{{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }}">
<meta property="fb:app_id" content="{{ .Site.Params.services.facebookApp }}">
<meta name="author" content="{{ $author.name }}">
<meta property="article:author" content="{{ $author.uri | absURL }}">
<meta property="article:published_time" content="{{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }}">
<meta property="article:modified_time" content="{{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }}">
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {{- if .IsHome }}
  "@type": "WebSite",
  {{- else }}
  "@type": "Article",
  {{- end }}
  "headline": {{ if .IsHome }}{{ T "tagline" }}{{ else }}{{ .Title }}{{ end }},
  {{- with .Params.subtitle }}
  "alternativeHeadline": {{ . | plainify }},
  {{- end }}
  "url": {{ .Permalink }},
  "image": {{ $imgMeta | absURL }},
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": {{ .Permalink }}
  },
  "description": {{ $description | plainify }},
  "author": {
    "@type": "Person",
    "name": {{ $author.name }}
  },
  "publisher": {
    "@type": "Organization",
    "name": {{ .Site.Title }},
    "logo": {
      "@type": "ImageObject",
      "url": {{ $imgBrand | absURL }}
    }
  },
  "datePublished": {{ dateFormat "2006-01-02T15:04:05Z" .Date.UTC | safeHTML }},
  "dateModified": {{ dateFormat "2006-01-02T15:04:05Z" .Lastmod.UTC | safeHTML }},
  "articleBody": {{ trim .Content "\n" }}
}
</script>
