{{- if not (eq .Site.Params.font.theme false) }}
{{- $src := printf "%s%s" $.Site.Params.path.font "" -}}
{{- $host := partial "cdn-src" (dict "Site" $.Site "Page" . "src" $src "type" "raw") -}}
<link rel="preload" href="{{ $host }}fell-400-normal-latin.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}charter-400-normal-latin.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}charter-400-normal-rest.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}charter-400-italic-latin.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}charter-700-normal-latin.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}charter-700-italic-latin.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}marat-400-normal-latin.woff" as="font" type="font/woff" crossorigin>
<link rel="preload" href="{{ $host }}marat-600-normal-latin.woff" as="font" type="font/woff" crossorigin>

{{- with resources.Get "type.css" -}}
{{- $vars := dict "host" $host "Site" $.Site "Page" . -}}
{{- $typeCSS := . | resources.ExecuteAsTemplate "type.css" $vars -}}
{{- $typeCSS = printf "%s?v=%d" $typeCSS.RelPermalink now.Unix | safeHTML }}
<link rel="preload" as="style" href="{{ $typeCSS }}" media="all">
<link rel="stylesheet" href="{{ $typeCSS }}" media="all">
{{- end }}
{{- end }}
