{{ define "main" }}
<main>
  {{- if .Params.featured }}
  <div class="mt-8 mx-4 md:mx-8">
    <div class="mx-auto w-full max-w-5xl">
      {{- partial "featured.html" . }}
    </div>
  </div>
  {{- end }}

  {{- $headless := .Site.GetPage "/homepage" }}
  {{- if $headless }}
  <div class="mt-8 mx-4 md:mx-8">
    <div class="mx-auto w-full max-w-2xlp">
    {{- $reusablePages := $headless.Resources }}
    {{ range $reusablePages }}
      <section class="mt-9 cdata">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
      </section>
    {{ end }}
    </div>
  </div>
  {{- end }}

  <div class="mt-8 mx-4 md:mx-8">
    <div class="mx-auto w-full max-w-2xlp">
      <h1 class="uppercase tracking-wide text-2xl text-raven-800 font-semibold">{{ T "recentPosts" }}</h1>
        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
        {{ range first 15 $pages }}
          <div class="mt-8">
            {{ .Render "summary" }}
          </div>
        {{ end }}
    </div>
  </div>
</main>
{{ end }}
